.yellow,
.Y {
	-fx-background-color: yellow;
}
.green,
.G {
	-fx-background-color: green;
}
.red,
.R {
	-fx-background-color: red;
}
.blue,
.B {
	-fx-background-color: blue;
}
.orange,
.O {
	-fx-background-color: orange;
}
.white,
.W {
	-fx-background-color: white;
}
GridPane {

}